.projectsContainer {
  margin: 2vw 10vw 13vw;
  font-size: 20px;
}
.manyProjects {
  margin-bottom: 5vw;
}
.projectsTitle {
  margin-bottom: 1vw;
  text-align: center;
  font-size: 25px;
}
.prjAddBtnWrap {
  text-align: right;
}
.prjAddBtn {
  width: 95px;
  font-size: 20px;
}
.noProjects {
  margin: 16vw 0 26vw;
  font-size: 23px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .noProjects {
    margin: 28vh 0 38vh;
  }
}

@media screen and (max-width: 530px) {
  .projectsContainer {
    margin: 2vw 3vw 13vw;
  }
}
