<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project Team</title>
    <style>
      h3 { font-weight: bold }
    </style>
  </head>
  <body>
    <p>
      This is the code for your email verification. <br />
      Please return to the page and enter this.
    </p>
    <h3>{{code}}</h3>
  </body>
</html>
